.Feed {
  height: fit-content;
}

.MiniaturasRow {
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.VerMas {
  margin: 20px;
  margin-left: 20px;
  display: flex;
  align-items: flex-end;
  text-decoration: underline;
}

.VerMas:hover {
  transform: scale(1.02);
}

.VerMas:active {
  transform: scale(0.98);
}
