/* TIPOGRAÍA */
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* ENCABEZADOS */
h1 {
  font-family: "Poppins";
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #fcfcfc;
}

h2 {
  font-family: "Poppins";
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #fcfcfc;
}

h3 {
  font-family: "Poppins";
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #fcfcfc;
}

h4 {
  display: flex;
  justify-content: left;
  font-family: "Poppins";
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #fcfcfc;
}

/* INPUTS */

input {
  border: none;
  display: flex;
  background: none;
  outline: none;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px;
  color: #6e7191;
  width: 100%;
}

/*BOTONES*/

button {
  background: none;
  border: none;
}

/*NO DISPLAY*/

.noDisplay{
  display:none
}


/*COMPONENTES GLOBALES*/
.SepVert{
  background-color: white;
  width: 1px;
  height: 175px;
  
}