.Jugadores{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px;
}

.JugadoresGenero{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}