.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(90.7deg, #111f3d 9.47%, #24263a 73.79%);
    /*linear-gradient(90.7deg, #507cc8 9.47%, #777bb7 73.79%);*/
}

.AdminBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background: linear-gradient(72.44deg, #33354A 0%, #455981 100%);
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.AdminHeader {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.TituloAdmin {
    display: flex;
    align-items: flex-start;
    width: 95%;
    margin: 20px;
}

.LogoutButton {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    width: 25%;
    font-family: 'Poppins', sans-serif;
}


/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
