/* TIPOGRAÍA */
@import url("https://fonts.googleapis.com/css?family=Poppins");

/* ENCABEZADOS */
h1 {
  font-family: "Poppins";
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #fcfcfc;
  margin: 0;
}

h2 {
  font-family: "Poppins";
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #fcfcfc;
  margin: 0;
}

h3 {
  font-family: "Poppins";
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #fcfcfc;
  margin: 0;
}

h4 {
  display: flex;
  justify-content: left;
  font-family: "Poppins";
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 300;
  font-size: 18;
  color: #fcfcfc;
  margin: 0;
}

/* TEXTO */

p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  font-size: 1em;
  color: black;
}

.TinyText {
  font-size: 0.5em;
}

.LeftAlign {
  text-align: left;
}

.CenterAlign {
  text-align: center;
}

.TextColorBlack {
  color: black;
}

.TextColorWhite {
  color: white;
}

.TextColorGrey {
  color: grey;
}

/* INPUTS */

input {
  border: none;
  display: flex;
  background: none;
  outline: none;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px;
  color: #6e7191;
  width: 100%;
}

.InputStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #eff0f7;
  width: 100%;
  min-width: fit-content;
  gap: 10px;
  padding: 0 5px;
}

.DateInput {
  display: flex;
  flex-direction: column;
  gap: 0;
  font-size: 0.8em;
  align-items: flex-start;
}

a{
  text-decoration: none;
}

/*BOTONES*/

button {
  background: none;
  border: none;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

.SimpleButton {
  color: white;
  text-decoration: underline;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 15px;
  color: white;
  text-align: center;
}

.SimpleButton:hover {
  transform: scaley(1.1);
}

.SimpleButton:active {
  transform: scaley((0.9));
}

.BotonConFondo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;

  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: white;

  padding: 10px;
  width: fit-content;
  max-width: 280px;

  background: #455981;
  border-radius: 8px;
}

.BotonConFondo:hover {
  background: #5c7097;
}

.BotonGenero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: white;

  padding: 10px 20px;
  height: fit-content;
  width: 80%;
  max-width: 500px;

  background: #455981;
  border-radius: 8px;
}

.BotonGenero:hover {
  background: #4d6492;
}

/*DISPLAY*/

.flexRow {
  display: flex;
  flex-direction: row;
}

.noDisplay {
  display: none;
}

/* MARGENES */

.mt-15 {
  margin: 15px 30px 0px 30px;
}

.mb-15 {
  margin-bottom: 50px;
}

.m-0 {
  margin: 0;
}
