.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  height: 50px;
  background-color: #455981;
  width: 100%;
  z-index: 1;
}

.TitleHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  width: auto;
  margin: 10px;
  text-decoration: none;
}

.TitleHeader:hover {
  transform: scale(1.05);
}

.TitleHeader:active {
  transform: scale(0.95);
}

.Title {
  display: flex;
  align-items: center;
  width: fit-content;
}

@media screen and (max-width: 380px) {
  .Title {
    display: none;
    margin-right: 0;
  }

  .Header {
    justify-content: space-around;
  }
}

.Navigate {
  display: flex;
  flex-direction: row;
  gap: 20px;
  min-width: min-content;
  margin-right: 20px;
}

.SearchWithDesplegable {
  display: flex;
  flex-direction: column;
  gap: 0;
  height: fit-content;
}

.DesplegableSearch {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: fit-content;
  min-height: fit-content;
  padding: 5px 0;

  background-color: #eff0f7;
  z-index: 100;
}

.Search {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #eff0f7;
  width: 100%;
  min-width: 115px;
  gap: 10px;
  padding: 0 5px;
  margin: 7px 0 0 0;
  min-height: 35px;
}

.Menu {
  height: 20px;
  width: 20px;
}

.Menu:hover {
  transform: scale(1.1);
}

.Menu:active {
  transform: scale(0.9);
}

.Desplegable {
  position: absolute;
  right: 0px;
  top: 50px;
  padding: 15px 10px;
  width: fit-content;
  height: 350px;

  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;

  background: linear-gradient(180deg, #455981 32.72%, #3a334a 95.94%);
  border-radius: 0px 0px 0px 20px;
  z-index: 100;
}

.DesplegableTitles {
  display: flex;
  justify-content: left;
  font-family: "Poppins";
  font-weight: 200;
  font-size: 20px;
  color: #fcfcfc;
  text-decoration: none;
}

.DesplegableTitles:hover {
  transform: scale(1.05);
}

.DesplegableTitles:active {
  transform: scale(0.9);
}

.DesplegableTop {
  height: 100%;
}

.DesplegableBottom {
  height: fit-content;
}

.HeaderSepHor {
  background: #6281bf;
  height: 1px;
  width: 100%;
}
