.Jugador {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: fit-content;

  gap: 20px;

  padding: 10px;

  background: linear-gradient(56.62deg, #33364b 0%, #43567c 100%);
  border-radius: 20px;
}


.Imagen {
  min-width: 150px;
  height: 200px;
  background: linear-gradient(
    16.33deg,
    #c4c4c4 0%,
    rgba(196, 196, 196, 0) 121.02%
  );
}

.keyValue{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 95%;
  margin: auto;

  justify-content: space-between;
  align-items: flex-end;
}

.JugadorFont {
  font-size: 15px;
  text-align: left;
}

.JugadorVerMas {
  width: 100%;
  text-align: right;
  font-family: "Poppins";
  color: #fcfcfc;
  text-decoration: underline;
}

.BanderaPerfil{
  height: 20px;
  margin-right: 5px;
}
.NacionalidadPerfil{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.JugadorVerMas:hover {
  transform: scale(1.02);
}

.JugadorVerMas:active {
  transform: scale(0.98);
}

.Nombre {
  text-align: center;
  width: 95%;
  margin: auto;
  height: fit-content;
}

.JugadorSepHor {
  background-color: white;
  height: 1px;
  width: 98%;
}

.JugadorNoDisplay {
  display: none;
}
