.Miniatura{
    width: 300px;
    height: fit-content;
    align-items: center;
    padding: 15px;
    border: 15px;
}

.FotoMini{
    height: 170px;
    justify-content: center;
    width: fit-content;
}

.TituloMini{
    text-decoration: underline;
    overflow: hidden;
}