.Pareja {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 95%;
  height: fit-content;
  margin: auto;
  border-radius: 10px;
  gap: 10px;

  padding: 10px 0;
  background: linear-gradient(196.7deg, #455981 9.47%, #33354a 73.79%);
}

.ParejaUp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .ParejaUp {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}

.PosyEntrenador {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.PRanking {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: max-content;
  height: fit-content;
}
.Almohadilla {
  margin-top: 120px;
  font-size: 210%;
  width: 35px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.Posicion {
  display: flex;
  align-items: center;
  font-size: 200px;
  max-height: 180px;
  height: fit-content;
  font-weight: 700;
}

.PSepHor {
  background-color: white;
  height: 1px;
  width: 90%;
}

.PFoto {
  width: fit-content;
  height: fit-content;
}

.Imagen {
  width: fit-content;
  max-width: 200px;
  height: fit-content;
  max-height: 200px;
  overflow: hidden;

  border-radius: 20px;
}

.PNombrePareja {
  display: flex;
  justify-content: center;
}

.Entrenador {
  height: fit-content;
  font-weight: 100;
  text-align: center;
}

.PEntrenadorNombre {
  justify-content: center;
  margin: 0px;
  font-weight: 100;
  font-size: 25px;
}

.ParejaPuntos {
  font-style: normal;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  margin: 10px;
}
