.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 400px;
  margin: auto;
}

.ConLogin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 20px;
  background: #ffffff;
  border-radius: 20px;
}

.SinLogin {
  text-align: center;
  font-weight: 600;
  color: #ffffff;
  width: 100%;
  height: 10%;
  text-decoration: underline;
  margin-top: 1rem;
}

.SinLogin:hover {
  transform: scale(1.05);
}

.SinLogin:active {
  transform: scale(0.95);
}

.LoginTitle {
  color: black;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 1rem;
}

.CentralLogin {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.InputLogin {
  padding: 10px;
  width: 90%;
  margin-bottom: 2rem;
  border: grey 1px solid;
  border-radius: 10px;
}

.LoginButton {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 600;
  padding: 15px;
  width: 90%;
  background: #33354a;
  border-radius: 10px;
  cursor: pointer;
}

.LoginButton:hover {
  transform: scale(1.05);
}

.LoginButton:active {
  transform: scale(0.95);
}

.ErrorMessage {
  width: 95%;
  text-align: center;
  color: #ff3232;
}
