.Recursos {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 20px;

  width: 100%;
  height: fit-content;

  max-width: 300px;

  margin: auto;
}

.RecursosButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 1em;
  padding: 10px 15px;
  width: 90%;
  height: 50px;
  background: #33354a;
  border-radius: 10px;
  text-decoration: none;
}

.RecursosButton:hover {
  transform: scale(1.05);
}

.RecursosButton:active {
  transform: scale(0.95);
}

.RecursosNoButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 0.8em;
  color: #ffffff;
  width: 100%;
  height: 10%;
  text-decoration: underline;
}

.RecursosNoButton:hover {
  transform: scale(1.05);
}

.RecursosNoButton:active {
  transform: scale(0.95);
}

.CRUDElements {
  display: flex;
  flex-direction: row;

  width: 40%;
  margin: auto;

  justify-content: space-around;
}
